<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hxh.mdv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity android:name="com.hxh.mdv.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.hxh.mdv.Login_Activity"/>

        <activity android:name="com.hxh.mdv.recyclerview.RV_Linear_Activity"/>
        <activity android:name="com.hxh.mdv.recyclerview.RV_Grid_Activity"/>
        <activity android:name="com.hxh.mdv.recyclerview.RV_HorizonGrid_Activity"/>
        <activity android:name="com.hxh.mdv.recyclerview.RV_Stagger_Activity"/>

        <activity android:name="com.hxh.mdv.recyclerview.RV_RL_Activity"/>

        <activity android:name="com.hxh.mdv.Scro_Activity"/>

    </application>

</manifest>